# Ignore node_modules folder (for Express.js & Frontend)
node_modules/

# Ignore Python virtual environment (for Flask API)
flask-api/venv/
flask-api/__pycache__/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
